%body
  .wrapper
    = render 'shared/side_bar'
    .right-contents
      .right-top-contents
        %input.btn{:type => "submit", :value => "Edit"}/
        .group-text
          .group-name
            %p
              sampleグループ
          .bottom-short-text
            %p
              members: Takayuki Inoue
      .messages
        = render @messages
      .right-bottom-contents
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
                = f.submit 'Send', class: 'form__submit'
