%body
  .wrapper
    .left-contents
      .header-contents
        .textbox
          %p
          = current_user.name
        .icon.box
          %p.list
            = link_to new_group_path do
              = fa_icon 'pencil-square-o', class: 'icon'
          %p.list
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'
      .inner-contents
        - current_user.groups.each do |group|
          .inner-text
            = link_to group_messages_path(group) do
              .main-text
                %p
                  = group.name
              .sub-text
                %p
                  メッセージはまだありません
    .right-contents
      .right-top-contents
        %input.btn{:type => "submit", :value => "Edit"}/
        .group-text
          .group-name
            %p
              sampleグループ
          .bottom-short-text
            %p
              members: Takayuki Inoue
      .right-center-contents
        .text.contents
          .name-day
            .name
              %p
                Takayuki Inoue
            .day
              %P
                2018/10/07 20:30:07
          .text-form
            %p
              Hello World!!
          .name-day
            .name
              %p
                Takayuki Inoue
            .day
              %P
                aaaaaaaaaaaaaaa
          .text-form
            %p
              Hello World!!
      .right-bottom-contents
        %form{:action => "example.cgi", :method => "post"}
          %input.textbox{:name => "example", :size => "30", :type => "text", :placeholder =>"type a message"}/
          %a.fa.fa-image{:href => "#"}
          %input.btn{:type => "submit", :value => "Send"}/
